* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 0 180px 0 200px;
    font-family: "Open Sans";
}

.header__top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px, 210px) minmax(340px, 290px) minmax(270px, 220px) 190px); 
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    color: #6a6a6a;
    border-bottom: 2px solid #c2c2c2;
    min-height: 110px;
}

.contacts {
    display: grid;
    grid-template-columns: 70px 1fr;
}

.contacts:last-child {
    justify-self: end;
}

.header__topImg {
    justify-self: start;
}

.contacts__icon {
    grid-row: 1 / 3;
}

.contacts__title {
    text-transform: uppercase;
}

.contacts__text {
    font-weight: 400;
}

.social__icon {
    font-size: 24px;

    color: #191919;
    text-decoration: none;
}

.header__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    min-height: 95px;
}

.nav {
    display: grid;
    width: 600px;
    grid-template-columns: repeat(6, 1fr); 
}

.social {
    display: grid;
    justify-self: end;
    width: 210px;
    grid-template-columns: repeat(5, 1fr);
}

.social__icon {
    justify-self: center;
}

.product {
    height: 640px;
    background: radial-gradient(circle, rgba(255,255,255,0.18) 0%, rgba(255,255,255,0.2) 100%) left, url(../img/layer_10.png) center;
}

.nav__link {
color: #6c6c6c;
font-size: 20px;
font-weight: 700;
text-decoration: none;
}

.nav__link--active {
    color: #262626;
}